@font-face{
    font-family: "Futura PT";
    src:url(./futura-book/FuturaPTBook.otf) ;
}
*{
    padding: 0;
    margin: 0 auto;
    font-family: Futura PT;
    box-sizing: border-box;
}
body{
    background: #FAFAFA;
    width: 1920px;
}
.blue{
    color: #5D71DD;
}
/*header*/
header{
    height: 370px;
}
header .header-menu{
    display: flex;
}
.header-menu{
    background: #FAFAFA;
    height: 70px;
    justify-content: center;
}
.logo{
    background: url(./img/footer-logo.png) no-repeat;
    width: 50px;
    height: 48px;
    margin-top: 11px;
}
.header-menu .header-nav{
    float: right;
    margin-right: 260px;
    margin-top: 24px;
}
.header-menu ul{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    list-style: none;
}
.header-nav{
    width: 524px; 
}
li a{
    text-decoration: none;
    color: #2F2222;
    font-weight: 300;
}
.header-nav li a:hover, .inform-footer li a:hover, .procrut .num a:hover{
    border-bottom: 2px solid #5D71DD;
    color: #5D71DD;
}
.li-number{
    margin: 0;
}
.u1{
    border-bottom: 2px solid #5D71DD;
}
.header-number{
    background: url(./img/img-header-number1.png) no-repeat;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 4.5px;
    margin-top: 4.5px;
}
.header-img-chapka{
    background: url(./img/img-header-chapka.png) no-repeat;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
/*main*/
.content{
    display: flex;
    gap: 30px;
}
main{
    background: none;
}
.main-block{
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 100px;
}
.right-block{
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 100px;
}
.start-inform{
    padding: 0 120px 52px 40px;
}
.start-data{
    padding: 40px 40px 0 0 ;
}
.start-block{
    width: 1040px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 20px;
}
.start-block-a a{
    text-decoration: none;
    width: Hug (111px)px;
    height: Hug (37px)px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 8px;
    background: #F7F8FD;
}
.start-block-h2{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 450;
    line-height: 30.77px;
}
.start-block-p,.start-block-data{
    font-size: 18px;
    font-weight: 400;
    line-height: 23.08px;
    color: #2F222266;
}
.start-block-p{
    margin-top: 20px;
}
.start-block-data{
    font-size: 16px;
    text-align: right;
}
.news-block{
    display: grid;
    gap: 40px;
    margin-top: 40px;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 180px 180px 180px 180px 180px 180px 180px 180px; 
}
/* .main-block:hover, .big-block:hover, .block-fon:hover, .block-mini:hover{
    box-shadow: 0px 0px 2px #FAFAFA;
} */
.b1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.b2{
    grid-row: 1/3;
}
.b3{
    grid-row: 3/5;
}
.b4{
    grid-column: 2/4;
}
.b5{
    grid-column: 2/4;
}
.b6{
    grid-column: 1/3;
    grid-row: 5/7;
}
.b7{
    grid-row: 5/7;
}
.b8{
    grid-row: 7/9;
}
.b9{
    grid-column: 2/4;
}
.b10{
    grid-column: 2/4;
}
.big-block{
    width: 680px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 20px;
}
.block-fon{
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background: #5D71DD;
}
.gradient{
    background: url(./img/img-fon-gradient.png);
    background-size: cover;
}
.nebo{
    background: url(./img//img-fon-nebo.png);
    background-size: cover;
}
.block-mini{
    width: 680px;
    height: 180px;
    border-radius: 20px;
    background: #FFFFFF;
}
.inform-block-fon{
    padding: 40px 30px 30px 30px;
}
.color-p{
    color: #FFFFFF;
    background-color: #7D8DE4;
}
.inform-block-fon .start-block-a a{
    background-color: #7D8DE4;
}
.inform-block-fon .start-block-data{
    text-align: left;
    margin-top: 170px;
}
.inform-block-fon .start-block-h2,.inform-block-fon  .start-block-data{
    color: #FFFFFF;
}
.inform-block-fon .start-block-h2{
    margin-top: 38px;
}
.gradient .start-block-a a{
    background: #FFFFFF33;

}
.nebo .start-block-a a{
    background: #FFFFFF33;
}
.block-mini .start-data{
   padding-top: 30px;
}
.block-mini .start-block-h2{
    margin-top: 20px;
}
.procrut .start-block-a{
    background: #5D71DD0D;
}
.procrut{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.text-procrut ul li{
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding-right: 10px;
}
.procrut .start-block-a{
    display: flex;
    align-items: center;
}
.img-strelka{
    background: url(./img/img-strelka.png);
    width: 10px;
    height: 10px;
    margin-left: -10px;
    background-size: cover;
}
.right-block{
    width: 320px;
    height: 672px;
}
.subscribe-email{
    height: 271px;
    border-radius: 20px;
    background: #FFFFFF;
}
.right-block h2{
    margin-bottom: 30px;
}
.right-block .start-block-data{
    text-align: left;
}
.news-right-block{
    border-bottom: 0.5px solid #2F222266;
}
.news-right-block p,.news-right-block {
    margin-bottom: 10px;
}
.subscribe-email{
    text-align: center;
}
.subscribe-email h2{
    padding-top: 40px;
}
.subscribe-email .item-email{
    width: 260px;
    height: 49px;
    padding: 0;
    border-radius: 20px;
    background: #FAFAFA;
    margin-bottom: 21px;
}
.subscribe-email .item-email input{
    width: 260px;
    height: 49px;
    padding: 13px 32px 13px 30px;
    border: 1px solid #FAFAFA;
    border-radius: 20px;
    background: #FAFAFA;
}
.subscribe-email .i2{
    background: #5D71DD;
}
.subscribe-email .i2:hover, .i2 .sub:hover{
    background: #FAFAFA;
    color: #5D71DD;
    border-radius: 20px;
}
.i2 .sub{
    padding-top: 13px;
    color: #FAFAFA;
    padding-bottom: 15px;
}
/*footer*/
footer{
    height: 273px;
    background: #5D71DD0D;
}
.footer-menu ul{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    list-style: none;
    margin: 0;
}
.inform-footer .logo{
    margin-top: 0;
}
.footer-menu ul li{
    margin: 0;
}
.inform-footer, .footer-menu{
    padding-top: 40px;
}
.text-footer{
    padding-top: 64px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.95px;
}